.ipynb_checkpoints/
.vscode/
*.pyo
*.pyc
*.ipch
*.opendb
*.db
*.idb
*.tlog
*.config
c++11/c++11play/.vs/c++11play/v15/.suo
*.exe
*.ilk
*.log
*.pdb
*.obj
*.filters
*.filters
*.user
python_vm/.vs/python_vm/v15/.suo
Debug/
